/*font-family: 'Playfair Display', serif;*/
/*font-family: 'Ubuntu', sans-serif;*/
/*font-family: 'Inconsolata', monospace;*/
body{
	margin: 0;
	padding: 0;
	font-family: 'Playfair Display', serif;
}
/*header start*/
header{ 
	
	padding: 20px 0;
 }
.container{
	width: 90%;
	margin: 0 auto;
	overflow: hidden;


}
.logo{
	float: left;
	width: 13%;
	margin-top: 8px; 
}
.logo img{
	width: 100%;

}
.menu{
	float: right;
	width: 70%;
}
.menu ul{
	float: right;
}
.menu ul li{
	list-style: none;
	float: left;
}
.menu ul li a{
	color: #626262;
	text-decoration: none;
	text-transform: uppercase;
	display: inline-block;
	border-bottom: 1px solid transparent;
	margin: 0 50px;
	padding-bottom: 5px;
	transition: .3s;

}
.menu ul li a:hover{
	border-bottom: 1px solid #626262; 
}
.menu ul li:last-child a{
	padding-right: 0;
	margin: 0;
}
/*header end*/
/*banner start*/
.banner{}
.b_img{}
.b_img img{
	width: 100%;
}

/*banner end*/
/*about start*/
.about{
	padding-top: 70px;
	padding-bottom: 90px;

}
.container2{
	width: 80%;
	margin: 0 auto;
	overflow: hidden;
	
}
.about_content{}
.i_text{
	font-family: 'Ubuntu', sans-serif; 
	font-weight: 300;
	font-size: 14px;
	color: #b4ad9e;
	text-transform: uppercase;
	margin: 0;
}
.title{
	font-weight: 400;
	font-size: 30px;
	margin-top: 20px;
	margin-bottom: 30px;
}
.text{
	line-height: 25px;
	margin-top: 0;
	margin-bottom: 40px;
}

/*about end*/
/*blog start*/
.blog{
	padding-bottom: 90px;
}
.single{
	width: 46%;
	 
	float: left;
	margin-top: 40px;
}
.single:nth-child(even){
	margin-left: 6%;

}
.single img{
	width: 100%;
	margin-bottom: 20px;
}
/*blog end*/
/*news start*/
.news{
	background-color: #f0f0f0;
    padding: 70px 0;
}
.singup{
	text-align: center;
}
.s_h1{
	color: #333333;
	margin-top: 0;
	margin-bottom: 70px;
}
.s_form{
	width: 400px;
	margin: 0 auto;
	position: relative;
}
.s_form input{
	font-family: 'Playfair Display', serif;
	font-size: 14px;
	color: #626262;
	width: 345px;
	height: 45px;
	border: none;
	border-bottom: 1px solid #000000;
	background-color: transparent;
	padding-left: 5px;
	padding-right: 40px;

}
.s_form input:focus{
	outline: 0;
}
.s_form button{
	position: absolute;
	background: transparent;
	border: none;
	cursor: pointer;
	top: 17px;
	right: 0px;
}
.s_form button:focus{
	outline: 0;
}

.s_form button img{

}
/*news end*/
/*blog2 start*/
.blog2{
   	padding-top: 70px;
	padding-bottom: 90px;
    }

/*blog2 end*/
/*load start*/
.load{
	padding-top: 70px;
	padding-bottom: 90px;
}
.container3{
	text-align: center;
}
.container3 button{
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	font-size: 20px;
	color: #626262;
	background: none;
	border: none;
	border: 1px solid #626262;
	cursor: pointer;
	width: 160px;
	height: 50px;
	transition: .3s;
}
.container3 button:focus{
	outline: 0;
}
.container3 button:hover{
	background-color:  #626262;
	color: white;
}
/*load end*/
/*footer start*/
.footer{
	text-align: center;
	color: #626262;
	background-color:  #f0f0f0;
	
	
	

}

.f_text{
	float: left;
	margin-right: 10px;
}
a{
	padding: 0 10px;
	float: right;
	color: #626262;
	padding-top: 20px;
	 

}
/*footer End*/
